# Ignore everything in the root except for "DesktopModules"
/*
!.gitignore
!DesktopModules/

# Ignore everything in the "DesktopModules" except the "JNess"
DesktopModules/*
!DesktopModules/JNess/
!DesktopModules/JNess/*